{% extends 'candidates/base_candidates.html' %}
{% block title %}Candidate List{% endblock %}
{% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="container-fluid mt-16">
    <h1 class="mb-16">Candidate List</h1>

    <!-- Date selection -->
    <form method="GET" action="{% url 'candidates:list' %}" class="mb-4">
        <div class="form-row">
            <div class="col-md-4">
                <label for="start_datetime">Start Date:</label>
                <input type="datetime-local" id="start_datetime" name="start_datetime" class="form-control" 
                       value="{{ start_datetime|date:'Y-m-d\\TH:i' }}">
            </div>
            <div class="col-md-4">
                <label for="end_datetime">End Date:</label>
                <input type="datetime-local" id="end_datetime" name="end_datetime" class="form-control" 
                       value="{{ end_datetime|date:'Y-m-d\\TH:i' }}">
            </div>
            <div class="col-md-2 d-flex align-items-end">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    <!-- Filter Dropdown -->
        <div class="form-group">
            <label for="filter">Filters:</label>
            <select id="filter" name="filter" class="form-control form-control-sm" onchange="this.form.submit();">
                <option value="all" {% if filter_value == 'all' %}selected{% endif %}>All</option>
                <option value="neither" {% if filter_value == 'neither' %}selected{% endif %}>New</option>
                <option value="tns_not_reported" {% if filter_value == 'tns_not_reported' %}selected{% endif %}>Not reported to TNS</option>
                <option value="tns_reported" {% if filter_value == 'tns_reported' %}selected{% endif %}>Reported to TNS</option>
                <option value="real" {% if filter_value == 'real' %}selected{% endif %}>Real</option>
                <option value="bogus" {% if filter_value == 'bogus' %}selected{% endif %}>Bogus</option>
            </select>
        </div>
    </form>
    <p><b>Number of Candidates Found:</b> {{ candidate_count }}</p>
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped w-100">
            <thead class="thead-light">
                <tr>
                    <th>Details</th>
                    <th>Cutouts</th>
                    <th>Photometry</th>
                    <!-- <th>Coordinates (RA, DEC)</th> -->
                    <!-- <th>Discovery date</th> -->
                    <th>Real/Bogus</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in candidate_status %}
                <tr
                    {% if item.candidate.real_bogus is True %}
                    class="table-success"  
                    {% elif item.candidate.real_bogus is False %}
                    class="table-danger" 
                    {% endif %}
                    id="candidate-{{ item.candidate.id }}"
                >
                    <td>
                        <p><b>Discovery date (UTC):</b> {{ item.candidate.discovery_datetime|date:"Y-m-d H:i" }}</p>
                        <p>
                            <b>Name:</b> 
                            <a href="{% url 'candidates:candidate_detail' item.candidate.id %}?filter_value={{ filter_value|urlencode }}&start_datetime={{ start_datetime|urlencode }}&end_datetime={{ end_datetime|urlencode }}">
                                {{ item.candidate.name }}
                            </a>
                        </p>
                        <p>{% if item.candidate.tns_name %}
                            <b>IAU name:</b>
                        <a href="https://www.wis-tns.org/object/{{ item.candidate.tns_name }}" target="_blank">
                            {{ item.candidate.tns_name }}
                        </a>
                        {% endif %}
                        </p>
                        <p><b>Coordinates (RA, DEC):</b> {{ item.candidate.ra |floatformat:-5 }}, {{ item.candidate.dec |floatformat:-5}}</p>
                        <p><b>Score:</b> {{ item.last_alert.score |floatformat:-2 }}</p>
                        <p><b>mount, camera:</b> {{ item.last_alert.mount }}, {{ item.last_alert.camera }}</p>
                        <p><b>field, subimage:</b> {{ item.last_alert.fieldid }}, {{ item.last_alert.subimage }}</p>
                        <p><b>Date added:</b> {{ item.candidate.created_at|date:"Y-m-d H:i" }}</p>
                        <p><b>Last alert:</b> {{ item.last_alert.created_at|date:"Y-m-d H:i" }}</p>
                    
                    </td>
                    <!-- <td>{{ item.candidate.name }}</td> -->
                    <td>
                        {% if item.cutouts %}
                            <!-- First row for general cutouts excluding Pan-STARRS -->
                            <div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; margin-bottom: 10px;">
                                {% for cutout in item.cutouts %}
                                    {% if cutout.data_product_type|lower not in 'ps1,sdss' %}
                                        <div style="text-align: center;">
                                            <img src="{{ cutout.datafile.url }}" alt="{{ cutout.name }}" style="max-width: 240px; height: auto;">
                                            <div>
                                                <small>{{ cutout.data_product_type|title }}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Second row for Pan-STARRS (PS1) and SDSS -->
                            <div style="display: flex; gap: 10px; justify-content: center;">
                                <!-- Pan-STARRS (PS1) -->
                                {% for cutout in item.cutouts %}
                                    {% if cutout.data_product_type|lower == 'ps1' %}
                                        <div style="text-align: center;">
                                            <img src="{{ cutout.datafile.url }}" alt="Pan-STARRS Cutout" style="max-width: 240px; height: auto;">
                                            <div>
                                                <small>Pan-STARRS</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <!-- SDSS -->
                                {% for cutout in item.cutouts %}
                                {% if cutout.data_product_type|lower == 'sdss' %}
                                    <div style="text-align: center;">
                                        <img src="{{ cutout.datafile.url }}" alt="SDSS Cutout" style="max-width: 240px; height: auto;">
                                        <div>
                                            <small>SDSS</small>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                <!-- <div style="text-align: center;">
                                    <img
                                    src="https://skyserver.sdss.org/dr16/SkyServerWS/ImgCutout/getjpeg?ra={{ item.candidate.ra }}&dec={{ item.candidate.dec }}&scale=0.2&width=240&height=240&opt=G"
                                    alt="SDSS Cutout" style="max-width: 240px; height: auto;">
                                    <div>
                                        <small>SDSS</small>
                                    </div>
                                </div>
                            </div> -->
                        {% else %}
                            No cutouts available.
                        {% endif %}
                    </td>
                    <td>
                        {% if item.graph %}
                        <div style="width: 600px; height: 400px;">
                            {{ item.graph|safe }}
                        </div>
                        {% else %}
                        No photometry available.
                        {% endif %}
                    </td>
                    <td>
                        <!-- Real/Bogus Buttons -->
                        <form method="POST" action="{% url 'candidates:update_real_bogus' item.candidate.id %}?filter={{ filter_value }}&start_datetime={{ start_datetime }}&end_datetime={{ end_datetime }}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="real_bogus" value="real">
                            <button type="submit" class="btn btn-sm btn-success" {% if item.candidate.real_bogus is True %}disabled{% endif %}>
                                Real
                            </button>
                        </form>

                        <form method="POST" action="{% url 'candidates:update_real_bogus' item.candidate.id %}??filter={{ filter_value }}&start_datetime={{ start_datetime }}&end_datetime={{ end_datetime }}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="real_bogus" value="bogus">
                            <button type="submit" class="btn btn-sm btn-danger" {% if item.candidate.real_bogus is False %}disabled{% endif %}>
                                Bogus
                            </button>
                        </form>
                    </td>
                    <td>
                        {% if item.target %}
                        <!-- Green "Target" button linking to the target detail page -->
                        <a href="{% url 'targets:detail' item.target.id %}" class="btn btn-sm btn-success">
                            Target
                        </a>
                        {% else %}
                        <!-- Blue "Add Target" button -->
                        <form method="POST" action="{% url 'candidates:add_target' %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="candidate_id" value="{{ item.candidate.id }}">
                            <button type="submit" class="btn btn-sm btn-primary">Add Target</button>
                        </form>
                        {% endif %}
                        <!-- update cutous Button -->
                        <form method="POST" action="{% url 'candidates:update_candidate_cutouts' item.candidate.id %}?filter={{ filter_value }}%}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="candidate_id" value="{{ item.candidate.id }}">
                            <button type="submit" class="btn btn-sm btn-info">Update Cutouts</button>
                        </form>

                        <!-- Check Simbad-->
                        <a href="http://simbad.u-strasbg.fr/simbad/sim-coo?protocol=html&NbIdent=1&Radius=3&Radius.unit=arcsec&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&Coord={{ item.candidate.ra }} {{ item.candidate.dec }}" 
                        class="btn btn-sm btn-secondary text-white" 
                        style="background-color: rgb(195, 40, 195); border-color: rgb(195, 40, 195);" 
                        target="_blank">
                         Simbad Lookup
                        </a>
                        <!-- Send TNS Report Button -->
                        {% if item.candidate.reported_by_LAST %}
                        <button type="button" class="btn btn-sm btn-warning" disabled>Reported to TNS</button>
                        {% elif item.candidate.real_bogus is False %}
                        <button type="button" class="btn btn-sm btn-warning" disabled>Target is Bogus</button>
                        {% else %}
                        <form method="POST" action="{% url 'candidates:tns_report_details' item.candidate.id %}?filter={{ filter_value }}&start_datetime={{ start_datetime }}&end_datetime={{ end_datetime }}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="candidate_id" value="{{ item.candidate.id }}">
                            <button type="submit" class="btn btn-sm btn-warning">Send TNS Report</button>
                        </form>
                        {% endif %}
                        <!-- Delete Button -->
                        {% if request.user.is_superuser %}
                        <form method="POST" action="{% url 'candidates:delete_candidate' %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="candidate_id" value="{{ item.candidate.id }}">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No candidates found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}>